<h6>
    Commonly Misspelled Words
</h6>
<table class="table table-borderless ">
    <thead>
        <tr >
            <th class="float-center">Mistaken Words</th>
            <th class="float-center">Correct Spelling</th>
            <th class="float-center">No.of Students written</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="float-center">forwerd</td>
            <td class="float-center">forward</td>
            <td  class="float-center">2</td>
        </tr>
        <tr>
            <td class="float-center">forwerd</td>
            <td class="float-center">forward</td>
            <td class="float-center">2</td>
        </tr>
        <tr>
            <td class="float-center">forwerd</td>
            <td class="float-center">forward</td>
            <td class="float-center">2</td>
        </tr>
        <tr>
            <td class="float-center">forwerd</td>
            <td class="float-center">forward</td>
            <td class="float-center">2</td>
        </tr>
    </tbody>
</table>